html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    color-scheme: light dark;
    --primary-color: #0B2545;
    --accent-color: #1B8572;
    --accent-color1: #2C6BF2;
    --bg-light: #EEF4ED;
    --bg-color: var(--white);
    --text-color: #000000;
    --white: #ffffff;
    --grey: #3B3B3B;
    --font-main: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    transition:  transform 0.3s ease;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-primary:hover {
    opacity: 0.9;
    transform: scale(1.05)
}

.subtitle {
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
}

.section {
    padding: 60px 0;

}

.bg-light {
    background-color: var(--bg-light);
}

/* --- Layout Flexbox --- */
.cards-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}

.cards-flex > article {
    flex: 1 1 300px;
    max-width: 360px;
}

/* --- Cabeçalho --- */
.header {
    background-color: var(--white);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    display:block;
    
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin:10px
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1rem;
}

.logo img {
    max-height: 75px;
    width: auto;
    display: block;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav a {
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.3s;
}

.nav a:hover {
    color: var(--accent-color);
}

.theme-toggle-btn {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 8px;
    width: 42px;
    height: 42px;
    font-size: 1.2rem;
    line-height: 1;
    cursor: pointer;
}

/* --- Carrossel --- */
.hero-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;
    pointer-events: none; 
}

.carrousel-btn {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    
}

.carrousel-btn:hover { 
    background: rgba(0, 0, 0, 0.8); 
}

/* --- Hero --- */
.hero {
    background: url('media/hero.png') no-repeat center center/cover;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-overlay {
    background: linear-gradient(90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
}

.hero-content {
    color: var(--white);
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

/*Carousel track and slide for ease in/out transition*/
.carousel-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

.carousel-slide {
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 30px;
}

/* --- Sobre Nós --- */
.about-flex {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.about-text {
    flex: 1 1 400px;
}

.about-image {
    flex: 1 1 400px;
}

.about-image img {
    border-radius: 20px;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

/*   Gráfico de barras */
#grafico{
    display:flex;
    justify-content: space-between;
    padding:10px
}


/* --- Parceiros --- */
.partners-section h3 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.partners-flex {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

/* --- Serviços --- */
.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.service-card {
    background: var(--bg-light);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(11, 37, 69, 0.95);
    color: var(--white);
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    height: 100%; /*Changes how much the details fill the card*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-card-details p {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.service-card:hover .service-card-details {
    transform: translateY(0);
}

.card-icon {
    font-size: 1.5rem;
    margin-bottom: 15px;
    background: var(--primary-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white);
}

.btn-text {
    margin-top: 10px;
    color: var(--primary-color);
    background: var(--white);
    padding: 8px 18px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.btn-text:hover {
    background-color: var(--accent-color);
    color: var(--white);
}

/* --- Eventos --- */
.event-card {
    background: var(--white);
    border: 1px solid var(--bg-light);
    border-radius: 10px;
    transition: transform 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.event-card:hover {
    transform: translateY(-5px);
}

.card-image {
    position: relative;
    height: 200px;
    width: 100%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.date-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--bg-light);
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    color: var(--primary-color);
}

.date-badge .day {
    display: block;
    font-size: 1rem;
    line-height: 1;
}

.date-badge .month {
    font-size: 1rem;
    text-transform: uppercase;
}

.card-content {
    padding: 20px;
}

.card-content h4 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.meta {
    font-size: 1rem;
    color: var(--grey);
    margin-bottom: 5px;
}

/* --- Notícias --- */
.header-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    text-align: left;
}

.news-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img {
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: var(--bg-light);
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.news-card h4 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.link-blue {
    color: var(--accent-color1);
    font-weight: 600;
    margin-top: auto;
}

/* --- Footer --- */
.footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 60px 0 20px;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.footer-col {
    flex: 1 1 250px;
}

.footer h5 {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.footer p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    opacity: 0.9;
}

.small {
    font-size: 0.7rem;
    opacity: 0.7;
}

.footer-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: var(--grey);
    color: var(--white);
}

.footer-form input::placeholder {
    color: var(--bg-light);
}

.btn-submit {
    width: 100%;
    background-color: var(--accent-color1);
    color: var(--white);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
}


.footer-bottom {
    border-top: 1px solid var(--grey);
    padding-top: 20px;
    text-align: center;
    font-size: 1rem;
    opacity: 0.6;
}

/* --- Botão Voltar ao Topo --- */
#to-top{
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    transition: 0.3s ease

}



/* --- Media Queries (Mobile/Tablets) --- */
@media (max-width: 768px) {
    .header-flex {
        flex-direction: column;
        gap: 15px;
    }
    
    .nav {
        margin: 0;
        width: 100%;
    }

    .nav ul {
        justify-content: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .about-flex {
        flex-direction: column;
    }

    .header-between {
        flex-direction: column;
        align-items: flex-start;
    }
}


/* --- Dark Mode --- */
html[data-theme="dark"] {
    --accent-color: #29B89E;
    --accent-color1: #3371F2;
    --bg-light: var(--primary-color);
    --bg-color: #08192B;
    --text-color: #cdd5e0;
    --grey: #9ab;
}

html[data-theme="dark"] .header {
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

html[data-theme="dark"] .logo,
html[data-theme="dark"] .nav a {
    color: var(--white);
}

html[data-theme="dark"] .nav a:hover {
    color: var(--accent-color);
}

html[data-theme="dark"] .theme-toggle-btn {
    border-color: var(--white);
    color: var(--white);
    transition: ease 0.3s;
}
 
html[data-theme="dark"] .btn-primary {
    background-color: var(--accent-color1);
}

html[data-theme="dark"] h2,
html[data-theme="dark"] .partners-section h3,
html[data-theme="dark"] .card-content h4,
html[data-theme="dark"] .news-card h4 {
    color: var(--white);
}

html[data-theme="dark"] .card-icon {
    background: var(--accent-color1);
}

html[data-theme="dark"] .btn-text {
    color: var(--white);
    background: var(--bg-color);
}

html[data-theme="dark"] .btn-text:hover {
    background-color: var(--accent-color);
    color: var(--white);
}


html[data-theme="dark"] .date-badge {
    background: var(--dark-bg);
    color: var(--white);
}

html[data-theme="dark"] .footer {
    background-color: var(--primary-color);
}

html[data-theme="dark"] .event-card {
    background: var(--primary-color);
    border-color: var(--grey);
}

html[data-theme="dark"] .footer-form input {
    background: var(--grey);
}

html[data-theme="dark"] .footer-bottom {
    border-top-color: var(--grey);
}

.pop-up{
    margin:-12px 0px 15px 0px
}